

@model BoarderApp.Models.Customer



<form method="post" asp-action="Create">
    <h2>Add Boarders</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
 <div class="form-group">

   <div class="row">
    <div class="col-4">
       <span asp-validation-for="FirstName" class="text-danger"></span>
      <input asp-for="FirstName" class="form-control" placeholder="First name">
    </div>
    <div class="col-4">
         <span asp-validation-for="LastName" class="text-danger"></span>
      <input asp-for="LastName" class="form-control" placeholder="Last name">
    </div> 
    <div class="col-4">
        <select asp-for="UnitID" asp-items="@ViewBag.UnitDropDown" class="form-control">
            <option selected>--Select Unit--</option>
        </select>
    </div
    <div class="row">
        <div class="col">

        </div>
    </div>
  </div>
 </div>

 <div class="form-group">

 </div>

  <input type="submit" class="btn btn-primary" value="Create"/>
</form>  

@section Scripts{
    @{ <partial name="_ValidationScriptsPartial"/>}
}